test_case:
case_name             = "barotropic"
subcase               = "case1"
num_lon               = 240
num_lat               = 121
output_pattern        = "test.%5s.nc"
output_freq_unit      = "steps"
output_freq           = 1
use_analytical_velocity = false

lasm:
scale0                = 1.5
filament_limit        = 100
strict_filament_limit = 5
radial_mixing         = 1
lateral_mixing        = 1000
strict_lateral_mixing = 10
disorder_degree_limit = 1.05
shrink_factor         = 0.05
num_parcel_x          = 240
num_parcel_y          = 120
is_mass_fixed         = true
