test_case:
case_name             = "barotropic"
subcase               = "case1"
num_x                 = 240
num_y                 = 121
output_pattern        = "lasm.barotropic.240x121.%5s.nc"
output_freq_unit      = "steps"
output_freq           = 10

lasm:
scale0                = 1.5
filament_limit        = 100
strict_filament_limit = 5
radial_mixing         = 1
lateral_mixing        = 1000
strict_lateral_mixing = 10
disorder_degree_limit = 1.05
shrink_factor         = 0.05
num_parcel_x          = 240
num_parcel_y          = 121
is_mass_fixed         = true
