lasm:
scale0           = 1.5
gammas           = 20
alpha            = 0.95
beta1            = 1
beta2            = 10
num_parcel_x     = 240
num_parcel_y     = 120
test_case        = "deform"
is_true_solution = false
subcase          = "case4"
output_prefix    = "lasm.deform.case4.240x120"
is_mass_fixed    = true